body {
    background-image: url("../images/fondo_DosAlamos.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgazuloscuro {
    background-color: rgb(16, 31, 55);
}

.txtrosa {
    color: rgb(229, 174, 212);
}

.txtceleste {
    color: rgb(0, 143, 152);
}

.bgrosa {
    background-color: rgb(229, 174, 212);
}

.bgceleste {
    background-color: rgb(0, 143, 152);
}

.poppins {
    font-family: 'Poppins', sans-serif;
}


.btn:hover {
    background-color: rgb(229, 174, 212);
}

.bordeRosa {
    border: 1px solid rgb(229, 174, 212);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}