{% extends "navBar.html" %}

{% block title %}Inicio{% endblock %}


{% block contentNavBar %}

<div class="container d-flex bgazuloscuro bordeRosa mt-5 pt-3 pb-3 justify-content-around">
    <h6 class="text-light poppins pt-2">Bienvenido(a) <span class="txtrosa">{{ userData.FirstName }} {{ userData.LastName }} </span></h6>
    <a type="button" class="btn bgceleste text-light" href="{{ url_for('views.listado_pacientes', nombre=nombre) }}">Ver historial clínico de paciente</a>
    <button type="button" class="btn bgceleste text-light">Ver calendario de citas médicas</button>
</div>


{% endblock %}
